body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #c705a7;
    color: rgb(255, 255, 255);
}
.header .logo {
    font-size: 1.5em;
}
.header .user-name {
    font-size: 1.2em;
}
.container {
    display: flex;
}
.menu {
    width: 200px;
    background-color: #797979;
    padding: 20px;
    height: 100vh;
    /*box-shadow: 2px 0 5px rgb(255, 255, 255);*/
}
.menu a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 10px;
    cursor: pointer;
}
.menu a:hover {
    background-color: #292929;
}
.content {
    flex-grow: 1;
    padding: 20px;
}
.form-container, .message-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container h2, .message-container h2 {
    margin-top: 0;
}
input[type="text"], textarea, select {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
