<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header">
        <div class="logo">Tickets.com</div>
        <div class="user-name"></div>
    </div>
    <div class="container">
        <div class="menu">
            <a th:href="@{/home}">Home</a>
            <a th:href="@{/home-cadastro}">Criar Ticket</a>
        <!--    <a th:href="@{/cadastro}">Criar Lembrete</a> -->
        <!--    <a th:href="@{/ver}">Ver Lembretes</a> -->
            <a th:href="@{/home-verlembretes}">Visualizar Tickets</a>
            <a th:href="@{/home-cadastrostatus}">Cadastrar Status</a>
            <a th:href="@{/home-verstatus}">Ver Status cadastrado</a>
        </div>
        <div class="content">
            <h2>Lista de Status Cadastrado</h2>
        <table>
            <thead>
                <tr>
                <!--    <th>ID</th> -->
                    <th>Titulo</th>
                    <!--  <th>Observação</th> -->
                    <th>Status</th>
                    <th>Ações</th>                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="status : ${status}">
                <!--    <td th:text="${status.id}"></td> -->
                    <td th:text="${status.nome}"></td>
                    <!--    <td th:text="${lembrete.observacao}"></td> -->
                    <td th:text="${status.situacao}"></td>
                    <td>
                        <a th:href="@{/home-editarstatus/{id}(id=${status.id})}" class="btn edit">Editar</a>
                        <a th:href="@{/excluirstatus/{id}(id=${status.id})}"
                            th:data-confirm-delete="|Você gostaria de apagar o seguinte status : ${status.nome}?|"
                            onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
                            class="btn delete">Excluir</a>
                        <!--    <a th:href="@{/excluir/{id}(id=${lembrete.id})}" class="btn delete">Excluir</a> -->
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <a th:href="@{/home}" class="btn ver">Voltar</a>    
        </div>
    </div>
</body>
</html>